* {
  font-family: sans-serif;
  color: rgb(5, 6, 96);
  margin: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/Background.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.logo {
  padding-top: 70px;
  height: 17vw;
  width: 45vw;
}

.nextPageButton {
  background: rgb(5, 6, 96);
  color: white;
  border:none;
  position:relative;
  height: 6vw;
  font-size: 3vw;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  margin-bottom: 1vw;
  border-radius: 50%;
}

.nextPageButton:hover{
  background: white;
  color:rgb(5, 6, 96);
}

.attendees {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 4vw;
}

.componentHeaders {
  display: flex;
  justify-content: center;
  font-size: 2vw;
  padding-top: 2vw;
}

.DataForm {
  display: flex;
  justify-content: center;
}

.emailInput {
  padding-top: 4vw;
}

.postcode {
  margin-right: 1vw;
}

.textInput {
  height: 3vw;
  font-size: 2vw;
  outline: none;
  padding: 0px;
  margin: 0px;
}

.checkboxInput {
  margin-left: 1vw;
}

.formConfirmButton {
  display: flex;
  justify-content: center;
  margin-top: 1vw;
}

.confirmButton {
  height: 3.5vw;
  font-size: 2vw;
  outline: none;
  background: rgb(5, 6, 96);
  color: white;
  border:none;
  position:relative;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  padding-bottom: 0.3vw;
  margin-bottom: 1vw;
}

.confirmButton:hover{
  background: white;
  color:rgb(5, 6, 96);
}